# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

DirectoryIndex index.php
allow from all
adddefaultcharset utf8
ErrorDocument 404 /error/404.php
RewriteEngine on

#переделываем в человекочитаемый url
RewriteRule ^(.*)users/([0-9]+)$ /about/users.php?id=$2 [QSA]
RewriteRule ^(.*)shifts/([0-9]+)$ /events/shifts.php?id=$2 [QSA]
RewriteRule ^(.*)events/([0-9]+)$ /events/index.php?id=$2 [QSA]


#Hostinger don't understand DirectoryIndex((
RewriteRule ^(.*)/$ /$1/index.php [QSA] 

#Убираем расширение файла из URL
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php 
