DirectoryIndex /index.php
allow from all
adddefaultcharset utf8
ErrorDocument 404 /error/404.php
RewriteEngine on
#Убираем расширение файла из URL
RewriteEngine on
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
RewriteEngine on
RewriteRule ^.*/users.php/(.*)$ /users.php?id=$1 [L,QSA]