DirectoryIndex index.php
allow from all
adddefaultcharset utf8
ErrorDocument 404 /error/404.php
RewriteEngine on

#переделываем в человекочитаемый url
RewriteRule ^(.*)users/([0-9]+)$ /about/users.php?id=$2 [QSA]
RewriteRule ^(.*)shifts/([0-9]+)$ /events/shifts.php?id=$2 [QSA]


#Убираем расширение файла из URL
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php 
