<div id="all-figh" class="table-container" ng-cloak ng-controller="usersApp">
  <a href="" ng-click="filterShow('all')">все</a> | <a href="" ng-click="filterShow('fighters')">бойцы</a> | <a href="" ng-click="filterShow('candidats')">кандидаты</a> | <a href="" ng-click="filterShow('fightersANDcandidats')">бойцы и кандидаты</a> | <a href="" ng-click="filterShow('last')">остальные</a>
  <!-- поиск по бойцам -->
  <div class="search_wrap"> Search:
    <input class="search" ng-model="query">
  </div>
  <!-- табличка, в которой будут все контакты бойцов -->
  <button ng-click="getMoreInfo()" ng-show="window.current_group>=window.groups.FIGHTER.num">Получить подробную информацию</button>
  <table class="table common-contacts">
    <thead>
      <tr>
        <th>#</th>
        <th>фото</th>
        <th>данные</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:query" class="{{user.id}}">
        <td><a href='users/{{user.id}}' class="ajax-nav">{{user.id}}</a></td>
        <td><img ng-src="{{user.photo}}" /></td>
        <td>
          <ul>
            <li><strong>ФИ:</strong> {{user.FI}}</li>
            <li ng-show="user.phone"><strong>Телефон:</strong><a href='tel:+7{{user.phone}}'> {{goodView(user.phone)}} </a></li>
            <li ng-show="user.second_phone"><strong>Телефон:</strong><a href='tel:+7{{user.second_phone}}'> {{goodView(user.second_phone)}} </a></li>
            <li ng-show="user.email"><strong>e-mail:</strong><a href='mailto:{{user.email}}'> {{user.email}} </a></li>
            <li ng-show="user.domain"><strong>vk:</strong> <a target='_blank' href='//vk.com/{{user.domain}}'>vk.com/{{user.domain}}</a></li>
            <li ng-show="user.Instagram_id"><strong>instagram:</strong> <a target='_blank' href='//instagram.com/{{user.Instagram_id}}'>instagram.com/{{user.Instagram_id}}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- комсостав+ может добавлять новых людей -->
  <div ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
    <br/>
    <br/>
    <br/>
    <button type="button" class="btn btn-warning scrl" ng-click="addNewPerson()">Добавить нового человека?</button>
    <div ng-show="adding_new" ng-init="adding_new=false">
      <em>Поля, отмеченные * обязательны для заполнения. Остальные можно будет заполнить на странице человека.<br></em>
      <br>
      <button type="button" ng-click="addNewPersonSubmit()" ng-show="adding_new" class="btn btn-success">Добавить</button>
      <br>
      <br> Ссылка ВК*:
      <input ng-model="newperson.uid" class="vk_input" placeholder="ссылка на страницу ВК"/>
      <br> имя*:
      <input ng-model="newperson.first_name" placeholder="имя человека" size=30 />
      <br>
      фамилия*: <input ng-model="newperson.last_name" placeholder="фамилия человека" size=30 />
      <br>
      отчество: <input ng-model="newperson.middle_name" placeholder="отчество человека" size=30 />
      <br>
      телефон: <input ng-model="newperson.phone" placeholder="телефон человека" size=30 /> 
      <br>
      дата рождения: <input ng-model="newperson.birthdate" class="date" placeholder="дата рождения человека"/> {{newperson.birthdate}}
      <br>
      статус*: <select ng-model="newperson.status" ng-init="newperson.status=2" ng-options="value.id as value.title for (key , value) in newperson.pos_status"></select> {{newperson.status}}
      <br>
      <button type="button" ng-click="addNewPersonSubmit()" ng-show="adding_new" class="btn btn-success">Добавить</button>
    </div>
    </span>
  </div>
</div>
<!-- table-container -->
