<div id="all-figh" class="table-container" ng-cloak ng-controller="fightersApp">
  <!-- поиск по бойцам -->
  <div class="search_wrap"> Search:
    <input class="search" ng-model="query">
  </div>
  <!-- табличка, в которой будут все контакты бойцов -->
  <button ng-click="getMoreInfo()" ng-show="window.current_group>=window.groups.FIGHTER.num">Получить подробную информацию</button>
  <table class="table common-contacts">
    <thead>
      <tr>
        <th>#</th>
        <th>фото</th>
        <th>данные</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fighter in fighters | filter:query" class="{{fighter.id}}">
        <td><a href='users/{{fighter.id}}' class="ajax-nav">{{fighter.id}}</a></td>
        <td><img ng-src="{{fighter.photo}}" /></td>
        <td>
          <ul>
            <li><strong>ФИО:</strong> {{fighter.last_name}} <span ng-show="fighter.maiden_name">({{fighter.maiden_name}}) </span>{{fighter.first_name}} {{fighter.second_name}} </li>
            <li ng-show="fighter.phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.phone}}'> {{goodView(fighter.phone)}} </a></li>
            <li ng-show="fighter.second_phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.second_phone}}'> {{goodView(fighter.second_phone)}} </a></li>
            <li ng-show="fighter.email"><strong>e-mail:</strong><a href='mailto:{{fighter.email}}'> {{fighter.email}} </a></li>
            <li ng-show="fighter.domain"><strong>vk:</strong> <a target='_blank' href='//vk.com/{{fighter.domain}}'>vk.com/{{fighter.domain}}</a></li>
            <li ng-show="fighter.Instagram_id"><strong>instagram:</strong> <a target='_blank' href='//instagram.com/{{fighter.Instagram_id}}'>instagram.com/{{fighter.Instagram_id}}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- комсостав+ может добавлять новых бойцов -->
  <div class="add-new-fighter" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
  <br/>
  <br/>
  <br/>
    <button type="button" class="btn btn-warning pre-add-new">Добавить нового бойца?</button>
    <span class="add-new-input-w hidden">  <input type="text" class="add-new-d vk_input" placeholder="введите домен вконтакте" size=30 />
    id: <input type="number" class="add-new-id" />

  </span>
  </div>
</div>
<!-- table-container -->