<div id="all-cand" class="table-container">
  Структура отряда:
  <ul>
    <li><strong>комсостав</strong> - административные должности в отряде
      <ul>
        <li><strong>командир</strong> - Глава отряда. Вопросы по официальной части, трудоустройство, взаимодействие с внешними структурами. <a href="#commander">Связаться</a></li>
        <li><strong>комиссар</strong> - вопросы по мероприятиям, событиям отрядной жизни. <a href="#comissar">Связаться</a></li>
        <li><strong>методист</strong> - вопросы по профессиональной части, обучению. <a href="#methodist">Связаться</a></li>
        <li><strong>комендант</strong> - вопросы по хозяйственной части. <a href="#comendant">Связаться</a></li>
      </ul>
    </li>
    <li><strong>бойцы</strong> - члены отряда, успешно отработавшие как минимум одну смену. Самые опытные из бойцов отряда провели более двух десятков смен.</li>
    <li><strong>кандидаты</strong> - кандидаты на вступление в отряд, проходящие на данный момент Школы Вожатского Мастерства и ещё не отработавшие смену с отрядом.</li>
  </ul>
  <hr>
  <a name="commander"></a>
  <h2 class="text-center">командир</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/commander.jpg" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Узор Дмитрий Александрович
    	</li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/rubashkaparen" target="_blank">https://vk.com/rubashkaparen</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89522392952">+7(952)239-29-52</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:uzordmitry@gmail.com">uzordmitry@gmail.com</a>
      </li>
      <li>
        <strong>самое важное в работе:</strong> стать лучшими стоит в первую очередь друг для друга.
      </li>
    </ul>
    </div>
  </div>

  <a name="comissar"></a>
  <h2 class="text-center">комиссар</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/comissar.jpg" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Аксёнов Павел Леонидович
    	</li>
    	<li>
    		<strong>Страница ВК:</strong> <a href="https://vk.com/id22240131" target="_blank">https://vk.com/id22240131</a>
    	</li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89817956857">+7(981)795-68-57</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:mono0max@gmail.com">mono0max@gmail.com</a>
      </li>
      <li>
        <strong>самое важное, что:</strong> СОзвездие всегда вместе!
      </li>
    </ul>
    </div>
  </div>

  <a name="methodist"></a>
  <h2 class="text-center">методист</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/methodist.jpg" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Морозова Василиса Геннадьевна
    	</li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/id3012827" target="_blank">https://vk.com/id3012827</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89215506819">+7(921)550-68-19</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:Vasilisa.morozovva@yandex.ru">Vasilisa.morozovva@yandex.ru</a>
      </li>
      <li>
        <strong>самое важное в работе:</strong> показать, что важно быть любознательным<br> и внимательным по отношению к окружающей информации, к людям и к себе
      </li>
    </ul>
    </div>
  </div>

  <a name="comendant"></a>
  <h2 class="text-center">комендант</h2>
<div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/comendant.jpg" width="250">
    </div>
    <div>
    <ul>
      <li>
        <strong>ФИО:</strong> Буторина Ирина Васильевна
      </li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/id121644265" target="_blank">https://vk.com/id121644265</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89062296950">+7(906)229-69-50</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:bivspb17966@gmail.com">bivspb17966@gmail.com</a>
      </li>
      <li>
        <strong>девиз:</strong> Начал так доведи до конца, всё в твоих звездных ручках.
      </li>
    </ul>
    </div>
  </div>
</div>
<!-- table-container -->
