<div id="all-cand" class="table-container">
  Наш чудесный комсостав - это бойцы, которые управляют жизнью отряда:
  <ul>
    <li><a href="https://vk.com/id87681348" target="_blank">Петрова Дарья</a> - Командир, вопросы по официальной части</li>
    <li><a href="https://vk.com/id20699608" target="_blank">Писарева Виктория</a> - Комиссар, вопросы по мероприятиям, событиям и прочим веселостям</li>
    <li><a href="https://vk.com/piypiupiy" target="_blank">Пиу Ксения</a> - Методист, вопросы по профессиональной части (обучению)</li>
    <li><a href="https://vk.com/anelcin" target="_blank">Стецова Екатерина</a> - Комендант, вопросы по хозяйственной части</li>
  </ul>
</div>
<!-- table-container -->
