<div id="all-cand" class="table-container">
  Структура отряда:
  <ul>
    <li><strong>комсостав</strong> - административные должности в отряде
      <ul>
        <li><strong>командир</strong> - Глава отряда. Вопросы по официальной части, трудоустройство, взаимодействие с внешними структурами. <a href="#commander">Связаться</a></li>
        <li><strong>комиссар</strong> - вопросы по мероприятиям, событиям отрядной жизни. <a href="#comissar">Связаться</a></li>
        <li><strong>методист</strong> - вопросы по профессиональной части, обучению. <a href="#methodist">Связаться</a></li>
        <li><strong>комендант</strong> - вопросы по хозяйственной части. <a href="#comendant">Связаться</a></li>
      </ul>
    </li>
    <li><strong>бойцы</strong> - члены отряда, успешно отработавшие как минимум одну смену. Самые опытные из бойцов отряда провели более двух десятков смен.</li>
    <li><strong>кандидаты</strong> - кандидаты на вступление в отряд, проходящие на данный момент Школы Вожатского Мастерства и ещё не отработавшие смену с отрядом.</li>
  </ul>
  <hr>
  <a name="commander"></a>
  <h2 class="text-center">командир</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/commander.jpg?rnd=234" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Фёдорова Анастасия
    	</li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/fresh_boom" target="_blank">https://vk.com/fresh_boom</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89111642390">+7(911)164-23-90 </a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:fresh.anastasya1995@gmail.com">fresh.anastasya1995@gmail.com</a>
      </li>
      <li>
        <strong>самое важное в работе:</strong> Сплоченная работа в команде - залог успеха.
      </li>
    </ul>
    </div>
  </div>

  <a name="comissar"></a>
  <h2 class="text-center">комиссар</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/comissar.jpg?rnd=234" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Царегородцев Роман 
    	</li>
    	<li>
    		<strong>Страница ВК:</strong> <a href="https://vk.com/id120597711" target="_blank">https://vk.com/id120597711</a>
    	</li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89291047853">+7(929)104-78-53</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:romantcaregorodtcev@gmail.com">romantcaregorodtcev@gmail.com</a>
      </li>
      <li>
        <strong>самое важное, что:</strong> поддерживать друг друга и быть готовым прийти на помощь в любую минуту.
      </li>
    </ul>
    </div>
  </div>

  <a name="methodist"></a>
  <h2 class="text-center">методист</h2>
  <div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/methodist.jpg?rnd=234" width="250">
    </div>
    <div>
    <ul>
    	<li>
    		<strong>ФИО:</strong> Паценко Елена
    	</li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/patcenko.lena" target="_blank">https://vk.com/patcenko.lena</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89531494748">+7(953)149-47-48</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:pacenko-lena@mail.ru">pacenko-lena@mail.ru</a>
      </li>
      <li>
        <strong>самое важное в работе:</strong> получать удовольствие и кайф от каждого момента на смене!
      </li>
    </ul>
    </div>
  </div>

  <a name="comendant"></a>
  <h2 class="text-center">комендант</h2>
<div class="row own-row">
    <div class="col-xs-4">
      <img src="/about/images/commstaf/comendant.jpg?rnd=234" width="250">
    </div>
    <div>
    <ul>
      <li>
        <strong>ФИО:</strong> Макарова Алёна
      </li>
      <li>
        <strong>Страница ВК:</strong> <a href="https://vk.com/alena_29" target="_blank">https://vk.com/alena_29</a>
      </li>
      <li>
        <strong>Телефон:</strong> <a href="tel:89213831282">+7(921)383-12-82</a>
      </li>
      <li>
        <strong>e-mail:</strong> <a href="mailto:bivspb17966@gmail.com">bivspb17966@gmail.com</a>
      </li>
      <li>
        <strong>самое важное в работе:</strong> обеспечивать отряд всем необходимым и создавать прекрасную атмосферу, в которой абсолютно каждому будет тепло и уютно!
      </li>
    </ul>
    </div>
  </div>
</div>
<!-- table-container -->
