<!-- просмотр профиля одного кандидата -->
<div ng-cloak ng-controller="oneCandidateApp" id="one-candidate">
  <div class="user-info hidden">
    <div class="col-xs-12">
      <h2>{{candidate.last_name}} {{candidate.first_name}} {{candidate.second_name}}
        <button type="button" class="btn btn-primary text-right" ng-click="editPerson()" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">Редактировать</button>
      </h2>
      <hr>
      <span class="saved">  (Изменения сохранены)</span>
    </div>
    <div class="row own-row">
      <div class="col-xs-3">
        <img class="pull-left ava" ng-src="{{candidate.photo}}" width="200" height="200">
      </div>
      <div class="col-xs-9 info-str">
        <ul>
          <li ng-show="candidate.domain"><strong>vk: </strong><a target='_blank' href='//vk.com/{{candidate.domain}}'>vk.com/{{candidate.domain}}</a></li>
          <li ng-show="candidate.phone"><strong>Телефон:</strong><a href='tel:+7{{candidate.phone}}'> {{goodView(candidate.phone)}} </a></li>
          <li ng-show="candidate.birthdate"><strong>День рождения: </strong>{{candidate.birthdate | date: 'dd.MM.yyyy'}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- редактирование информации -->
  <div ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
    <div class="user-edit hidden">
      <form ng-submit="submit()">
        <div class="col-xs-12">
          <h2>
      <h2>{{candidate.first_name}} <input type="text" ng-model="candidate.second_name"  size="{{(candidate.second_name).length}}+1" /> {{candidate.last_name}}
          <input type="submit" class="btn btn-primary text-right" ng-click="editPerson()" value="Сохранить"></input>
          <button type="button" class="btn btn-primary text-right" ng-click="resetInfo(); editPerson()" >Отменить</input>
        </h2>
          <hr>
        </div>
        <div class="row own-row">
          <div class="col-xs-3">
            <img class="pull-left ava" ng-src="{{candidate.photo_200}}" width="200" height="200">
          </div>
          <div class="col-xs-9 info-str">
            <ul>
              <li><strong>vk: </strong>
                <input type="text" class="vk-domain vk_input" ng-model="candidate.domain" size="{{(candidate.domain).length}}" /> {{candidate.domain}} (uid: {{candidate.uid}})</li>
              <li><strong>Телефон:</strong> +7
                <input type="text" ng-model="candidate.phone" size="{{(candidate.phone).length}}" /> <em>(цифрами)</em></li>
              <li><strong>День рождения: </strong>
                <input type="date" ng-model="candidate.birthdate" size="{{(candidate.birthdate).length}}" />
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  <button type="button" class="btn btn-danger kill-candidate" ng-click="killCandidate()">Удалить профиль</button>
  </div>
</div>
<br/>
<br/><a href="#" class="profile_priv ajax-nav">&lt;&lt; предыдщий</a> &nbsp; &nbsp;
<a href="#" class="profile_next pull-right ajax-nav">следующий&gt;&gt;</a>