<!-- просмотр профиля одного бойца -->
<div ng-cloak ng-controller="oneFighterApp" id="one-fighter">
  <div class="user-info hidden">
    <div class="col-xs-12">
      <h2>{{fighter.last_name}}<span ng-show="fighter.maiden_name"> ({{fighter.maiden_name}})</span> {{fighter.first_name}} {{fighter.second_name}}
        <button type="button" class="btn btn-primary text-right" ng-click="editPerson()" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num || fighter.uid == window.getCookie('vk_id')">Редактировать</button>
      </h2>
      <hr>
      <span class="saved">  (Изменения сохранены)</span>
    </div>
    <div class="row own-row">
      <div class="col-xs-3">
        <img class="pull-left ava" ng-src="{{fighter.photo}}" width="200" height="200">
      </div>
      <div class="col-xs-9 info-str">
        <ul>
          <li ng-show="fighter.domain"><strong>vk: </strong><a target='_blank' href='//vk.com/{{fighter.domain}}'>vk.com/{{fighter.domain}}</a></li>
          <li ng-show="fighter.phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.phone}}'> {{goodView(fighter.phone)}} </a></li>
          <li ng-show="fighter.second_phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.second_phone}}'> {{goodView(fighter.second_phone)}} </a></li>
          <li ng-show="fighter.email"><strong>e-mail:</strong><a href='mailto:{{fighter.email}}'> {{fighter.email}} </a></li>
          <li ng-show="fighter.Instagram_id"><strong>id в Instagram:</strong><a href='https://instagram.com/{{fighter.Instagram_id}}' target="_blank"> {{fighter.Instagram_id}} </a></li>
          <li ng-show="fighter.birthdate"><strong>День рождения: </strong>{{fighter.birthdate | date: 'dd.MM.yyyy'}}</li>
          <li ng-show="fighter.year_of_entrance"><strong>Год вступления в отряд: </strong>{{fighter.year_of_entrance}}</li>
          <li ng-show="fighter.group_of_rights && window.current_group>=window.groups.COMMAND_STAFF.num"><strong>Права доступа: </strong>{{fighter.group_of_rights}} ({{window.groups[window.visibilities[fighter.group_of_rights]].rus}})</li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-show="window.current_group>=window.groups.COMMAND_STAFF.num || fighter.uid == window.getCookie('vk_id')">
    <div class="user-edit hidden">
      <form ng-submit="submit({{fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num}})">
        <div class="col-xs-12">
          <h2>
          <span ng-show="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num">
        {{fighter.last_name}}<span ng-show="fighter.maiden_name"> ({{fighter.maiden_name}})</span> {{fighter.first_name}}
          </span>
          <span ng-hide="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num">  
          <input type="text" ng-model="fighter.last_name"  size="{{(fighter.last_name).length}}+1" placeholder="Фамилия" />
          (<input type="text" ng-model="fighter.maiden_name"  size="{{(fighter.maiden_name).length}}+1" placeholder="Девичья фамилия (при наличии)"/>)

          <input type="text" ng-model="fighter.first_name" size="{{(fighter.first_name).length}}+1" placeholder="Имя" />
          </span>
          <input type="text" ng-model="fighter.second_name"  size="{{(fighter.second_name).length}}+1" placeholder="Отчество"/>
          <input type="submit" class="btn btn-primary text-right" ng-click="editPerson()" value="Сохранить"></input>
          <button type="button" class="btn btn-primary text-right" ng-click="resetInfo(); editPerson()" >Отменить</input>
        </h2>
          <hr>
        </div>
        <div class="row own-row">
          <div class="col-xs-3">
            <img class="pull-left ava" ng-src="{{fighter.photo}}" width="200" height="200">
          </div>
          <div class="col-xs-9 info-str">
            <ul>
              <li ng-hide="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num"><strong>vk: </strong>
                <input type="text" class="vk-domain vk_input" ng-model="fighter.domain" size="{{(fighter.domain).length}}" /> {{fighter.domain}} (uid: {{fighter.uid}})</li>
              <li ng-show="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num"><strong>vk: </strong><a target='_blank' href='//vk.com/{{fighter.domain}}'>vk.com/{{fighter.domain}}</a></li>
              <li><strong>Телефон:</strong> +7
                <input type="text" ng-model="fighter.phone" size="{{(fighter.phone).length}}" /> <em>(цифрами)</em></li>
              <li><strong>Второй телефон:</strong> +7
                <input type="text" class="change-s-phone" ng-model="fighter.second_phone" size="{{(fighter.second_phone).length}}" /> </li>
              <li><strong>e-mail:</strong>
                <input type="email" ng-model="fighter.email" size="{{(fighter.email).length}}" />
              </li>
              <li><strong>id в Instagram:</strong>
                <input ng-model="fighter.Instagram_id" size="{{(fighter.intagram_id).length}}" />
              </li>
              <li><strong>День рождения: </strong>
                <input type="date" ng-model="fighter.birthdate" size="{{(fighter.birthdate).length}}" />
              </li>
              <li ng-hide="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num"><strong>Год вступления в отряд: </strong>
                <input type="number" min="2000" max="3000" ng-model="fighter.year_of_entrance" size="{{(fighter.year_of_entrance).length}}" />
              </li>
              <li ng-hide="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num"><strong>Права доступа: </strong>
                <input type="number" min="1" max="7" ng-model="fighter.group_of_rights" /> ({{window.groups[window.visibilities[fighter.group_of_rights]].rus}})</li>
              <li ng-show="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num"><strong>Год вступления в отряд: </strong>{{fighter.year_of_entrance}}</li>
              <li ng-show="fighter.group_of_rights && window.current_group>=window.groups.COMMAND_STAFF.num || fighter.uid == window.getCookie('vk_id')"><strong>Права доступа: </strong>{{fighter.group_of_rights}} ({{window.groups[window.visibilities[fighter.group_of_rights]].rus}})</li>
            </ul>
          </div>
        </div>
      </form>
      <h2>Выбрать категорию доступа</h2>
      <i>данное поле влияет на то, как вы видите страницы.</i>
      <span class="saved">  (Изменения сохранены)</span>
      <br/>
      <span ng-repeat="group in f_groups">
      <input type="radio" value="{{group.num}}" name="group_r" ng-checked="window.getCookie('current_group')*1 == group.num*1" >{{group.rus}}<br></span>
    </div>
    <button type="button" class="btn btn-danger kill-fighter" ng-click="killFighter()" ng-hide="fighter.uid == window.getCookie('vk_id') && window.current_group<=window.groups.COMMAND_STAFF.num">Удалить профиль</button>
  </div>
  <!--  -->
  <!-- доп. информация -->
  <div class="row own-row">
    <div class="col-xs-6">
      <h3>Смены</h3>
      <ul>
        <li ng-repeat="shift in shifts">
          <a href="/events/shifts/{{shift.id}}" class="ajax-nav">
                      {{shift.time_name}} <span ng-show="shift.place">({{shift.place}})</span>, {{shift.fn_date.getFullYear()}} г.
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <h3>Достижения</h3>
    </div>
  </div>
</div>
<br/>
<br/>
<a href="#" class="profile_priv ajax-nav"> &lt;&lt;предыдщий</a> &nbsp; &nbsp; <a href="#" class="profile_next pull-right ajax-nav">следующий &gt;&gt;</a>
