<!-- просмотр профиля одного бойца -->
<div ng-cloak ng-controller="oneFighterApp" id="one-fighter">
    <span class="scrl"></span>
  <div class="user-info hidden">
<!-- просмотр -->
    <div class="col-xs-12">

      <h2>{{fighter.last_name}}<span ng-show="fighter.maiden_name"> ({{fighter.maiden_name}})</span> {{fighter.first_name}} {{fighter.middle_name}} 
        <em ng-show="fighter.nickname">({{fighter.nickname}})</em>
        <button type="button" class="btn btn-primary text-right" ng-click="editPerson()" ng-show="isCS || fighter.uid == window.getCookie('vk_id')">Редактировать</button>
      </h2>
      <hr>
      <span class="saved">  (Изменения сохранены)</span>
    </div>
    <div class="row own-row">
      <div class="col-xs-3">
        <img class="pull-left ava" ng-src="{{fighter.photo}}" width="200" height="200">
      </div>
      <div class="col-xs-9 info-str">
        <ul>
          <li> <strong>статус:</strong> <span ng-show="fighter.isFighter">боец</span> 
          <span ng-show="fighter.isCandidate">кандидат</span>
          </li>
          <li ng-show="fighter.domain"><strong>vk: </strong><a target='_blank' href='//vk.com/{{fighter.domain}}'>vk.com/{{fighter.domain}}</a></li>
          <li ng-show="fighter.phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.phone}}'> {{goodView(fighter.phone)}} </a></li>
          <li ng-show="fighter.second_phone"><strong>Телефон:</strong><a href='tel:+7{{fighter.second_phone}}'> {{goodView(fighter.second_phone)}} </a></li>
          <li ng-show="fighter.email"><strong>e-mail:</strong><a href='mailto:{{fighter.email}}'> {{fighter.email}} </a></li>
          <li ng-show="fighter.instagram_id"><strong>id в Instagram:</strong><a href='https://instagram.com/{{fighter.instagram_id}}' target="_blank"> {{fighter.instagram_id}} </a></li>
          <li ng-show="fighter.birthdate"><strong>День рождения: </strong> <span class="date {{fighter.birthdate}}">{{window.formatDate(fighter.birthdate)}}</span></li>
          <li ng-show="fighter.year_of_entrance"><strong>Год вступления в отряд: </strong>{{fighter.year_of_entrance}}</li>
          <li ng-show="fighter.group_of_rights && isCS"><strong>Права доступа: </strong>{{fighter.group_of_rights}} ({{window.groups[window.visibilities[fighter.group_of_rights]].rus}})</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- редактирование -->
  <div ng-show="isCS || fighter.uid == window.getCookie('vk_id')">
    <div class="user-edit hidden">
          <h2>
          <span ng-show="canEdit">
        {{newperson.last_name}}<span ng-show="newperson.maiden_name"> ({{newperson.maiden_name}})</span> {{newperson.first_name}}
          </span>
          <span ng-hide="canEdit">
          <input type="text" ng-model="newperson.last_name"  size="{{(newperson.last_name).length}}+1" placeholder="Фамилия" />
          (<input type="text" ng-model="newperson.maiden_name"  size="{{(newperson.maiden_name).length}}+1" placeholder="Девичья фамилия (при наличии)" ng-show="newperson.status==3"/>)

          <input type="text" ng-model="newperson.first_name" size="{{(newperson.first_name).length}}+1" placeholder="Имя" />
          </span>
          <input type="text" ng-model="newperson.middle_name"  size="{{(newperson.middle_name).length}}+1" placeholder="Отчество"/>

            <button class="btn btn-success text-right" ng-click="editPersonSubmit(canEdit)">Сохранить</button>
            <button type="button" class="btn btn-primary text-right" ng-click="hideEdit()" >Отменить</button>
        </h2>
          <hr>
      <form ng-submit="editPersonSubmit({{canEdit}})">
        <!-- <div class="col-xs-12"> -->
        <!-- </div> -->
        <div class="row own-row">
          <div class="col-xs-3">
            <img class="pull-left ava" ng-src="{{newperson.photo}}" width="200" height="200">
          </div>
          <div class="col-xs-9 info-str">
            <ul>
              <li ng-hide="canEdit"> статус*: <select ng-model="newperson.status" ng-change="newStatus(newperson.status)" ng-options="value.id as value.title for (key , value) in pos_status"></select> {{newperson.status}}</li>
              <li ng-show="canEdit"><strong>статус:</strong> <span ng-show="newperson.isFighter">боец</span> 
          <span ng-show="newperson.isCandidate">кандидат</span></li>

              <li ng-hide="canEdit"><strong>vk: </strong>
                <input type="text" class="vk-domain vk_input" ng-model="newperson.uid" size="{{(newperson.uid).length}}" /></li>
              <li ng-show="canEdit"><strong>vk: </strong><a target='_blank' href='//vk.com/{{newperson.domain}}'>vk.com/{{newperson.domain}}</a></li>
              <li><strong>Телефон:</strong>
                <input type="text" ng-model="newperson.phone" size="{{(newperson.phone).length}}" /></li>
              <li><strong>День рождения: </strong>
                <input type="text" ng-model="newperson.birthdate" class="date" size="{{(newperson.birthdate).length}}" /> {{newperson.birthdate}}
              </li>
              <li ng-hide="canEdit"><strong>Права доступа*: </strong>
                <input type="number" min="1" max="7" ng-model="newperson.group_of_rights" /> ({{window.groups[window.visibilities[newperson.group_of_rights]].rus}})</li>
              <li ng-show="canEdit"><strong>Права доступа: </strong>{{newperson.group_of_rights}} ({{window.groups[window.visibilities[newperson.group_of_rights]].rus}})</li><br><br>
              
              <span ng-show="newperson.status==3">
              <li><strong>Ник: </strong> <input ng-model="newperson.nickname" /> </li>
              <li><strong>Второй телефон:</strong>
                <input type="text" ng-model="newperson.second_phone" size="{{(newperson.second_phone).length}}" /> </li>
              <li><strong>e-mail:</strong>
                <input type="email" ng-model="newperson.email" size="{{(newperson.email).length}}" />
              </li>
              <li><strong>id в Instagram:</strong>
                <input ng-model="newperson.instagram_id" size="{{(newperson.intagram_id).length}}" />
              </li>
              <li ng-show="canEdit"><strong>Год вступления в отряд: </strong>{{newperson.year_of_entrance}}</li>
              <li ng-hide="canEdit"><strong>Год вступления в отряд*: </strong>
                <input type="number" min="2000" max="3000" ng-model="newperson.year_of_entrance" size="{{(newperson.year_of_entrance).length}}" />
              </li>
              </span>
            </ul>
          <input type="submit" class="btn btn-success" value="Сохранить"></input>
          </div>
        </div>
      </form>
      <h2>Выбрать категорию доступа</h2>
      <i>данное поле влияет на то, как вы видите страницы.</i>
      <span class="saved">  (Изменения сохранены)</span>
      <br/>
      <span ng-repeat="group in f_groups">
      <input type="radio" value="{{group.num}}" name="group_r" ng-checked="window.getCookie('current_group')*1 == group.num*1" >{{group.rus}}<br></span>
    </div>
    <button type="button" class="btn btn-danger kill-fighter" ng-click="killUser()" ng-hide="canEdit">Удалить профиль</button>
  </div>

  <!--  -->
  <!-- доп. информация -->
  <div class="row own-row" ng-show="window.current_group>=window.groups.FIGHTER.num || fighter.uid == window.getCookie('vk_id')">
    <div class="col-xs-6">
      <h3>Смены</h3>
      <ul>
        <li ng-repeat="shift in shifts">
          <a href="/events/shifts/{{shift.id}}" class="ajax-nav">
                      {{shift.time_name}} <span ng-show="shift.place">({{shift.place}})</span>, {{shift.fn_date.getFullYear()}} г.
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6" >
      <h3>Достижения 
        <a href="" ng-click="addAch()">
          <img src="/own/images/plus.png" width="25px" ng-show="isCS || fighter.uid == window.getCookie('vk_id')">
        </a> 
        <a href="" ng-click="editAchvs()"><img src="/own/images/edit.png" width="20px" ng-show="isCS || fighter.uid == window.getCookie('vk_id')"></a>
      </h3>
      <span ng-show="add_achiv">
        <input type="text" placeholder="Достижение" ng-model="new_achv.achiev"> <input type="number" ng-model="new_achv.start_year" placeholder="год начала"> <input type="number" placeholder="год окончания" ng-model="new_achv.finish_year">
        <a href="" ng-click="okAddAchv()"><img src="/own/images/check.png" width="20px"></a>
      </span>
      <ul>
        <li ng-repeat="achv in achievements">
          <span ng-hide="achv.edit_flag">
            {{achv.achiev}}, {{achv.start_year}} <span ng-show="achv.finish_year && achv.finish_year != achv.start_year">- {{achv.finish_year}}</span> г. &nbsp;&nbsp;
          <a href="" ng-click="editAchv(achv)"><img src="/own/images/edit.png" width="15px" ng-show="edit_achiv"></a>
          <a href="" ng-click="deleteAchv(achv)"><img src="/own/images/delete.png" width="15px" ng-show="edit_achiv"></a>
          </span>
          <span ng-show="achv.edit_flag">
            <input type="text" placeholder="Достижение" ng-model="achv.achiev"> <input type="number" ng-model="achv.start_year" placeholder="год начала"> <input type="number" placeholder="год окончания" ng-model="achv.finish_year">
            <a href="" ng-click="okEditAchv(achv)"><img src="/own/images/check.png" width="20px"></a> <a href="" ng-click="notOkEditAchv(achv)"><img src="/own/images/close.png" width="20px"></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br/>
<br/>
<a href="#" class="profile_priv ajax-nav"> &lt;&lt;предыдщий</a> &nbsp; &nbsp; <a href="#" class="profile_next pull-right ajax-nav">следующий &gt;&gt;</a>
