html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  
  margin-bottom: 60px;
}
/*Низ сайта*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  min-width: 940px;
  margin-bottom: 0;
  background-color: #E6E6E6;
  border-top: 2px solid #9B9B9B;
  line-height: 55px;
  color: #9B9B9B;
  margin-top: 75px;
}

footer .social i {
  vertical-align: middle;
}

footer .social a {
  text-align: center;
  color: #9B9B9B;
}

footer .social a:hover {
  color: #777;
}
/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*конец низа сайта*/
/*меню*/

.header .container {
  width: 940px !important;
}

.header .login {
  line-height: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: right;
}

.logo-cell {
  position: relative;
  margin-left: 15px;
  margin-right: 10px;
  width: 80px;
  float: left;
  height: 40px;
}

.logo-container {
  position: absolute;
  z-index: 1000;
}

.header ul {
  padding-left: 0px;
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header li {
  list-style: none;
  float: left;
  line-height: 40px;
  padding: 0px 12px;
  font-family: sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

.header li:hover {
  background-color: #437185;
  /*при наведении*/
}

.header li.current {
  background-color: #24556A !important;
  /*выбранное*/
}

.header .login .logout-url {
  font-weight: normal;
}

.header .login {
  line-height: 50px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: right;
}

.header.lvl1 {
  height: 50px;
  color: white;
}

.header-lvl2-container {
  position: relative;
  height: 50px;
  display: none;
}

.header.lvl2,
.header.lvl2 .row {
  background-color: #99B6C3;
}

.header.lvl2 {
  width: 100%;
  height: 50px;
  color: white;
  display: none;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.header.lvl2.current {
  display: block;
  z-index: 100;
}

.header.lvl2,
.header.lvl2 .row {
  background-color: #333;
}

.user_ava {
  height: 100% !important;
}
/*конец меню*/
/*авторизация*/

#auth_wrapper {
  width: 300px;
  margin: 0 auto;
}
/*конец авторизации*/

.starter-template {
  text-align: center;
}

.news {
  text-align: center;
}

.ctred {
  text-align: center;
}

.saved {
  color: green;
  display: none;
}

.text-right {
  float: right;
}

.own-hidden {
  display: none;
}

.own-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  ;
}

.ng-dirty.ng-invalid {
  border-color: red;
}

.ng-dirty.ng-valid {
  border-color: green;
}

.own-invalid {
  border-color: red;
}

.own-valid {
  border-color: green;
}

.like_h {
  border: 2px outset green !important;
  /*color: green;*/
}

.show_div {
  position: fixed;
  background-color: white;
  left: 150;
  top: 100px;
  z-index: 4;
  display: none;
  border: 4px outset green
}

.selected {
background: #ffffcc;
padding: 2px 8px;
}