<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
  <meta charset="UTF-8">
  <title>просмотр мероприятий оффлайн</title>
</head>

<body>
  <a href="/events" target="_blank">вернуться</a>
  <hr>
  <div id="container_event">
  </div>
<hr>
  <br>
  <input type="radio" name="what_appl" checked="true" value="only_me" onchange="window.cMe(true)"/>только на которые я записан 
  <input type="radio" name="what_appl" value="all_a" onchange="window.cMe(false)" />все <br><br>
  <input type="radio" name="what_plan" checked="true" value="plan" onchange="window.cPl(true)" />показать и те, которые лишь в планах
  <input type="radio" name="what_plan" value="not_plan" onchange="window.cPl(false)" />скрыть их
  <script type="text/template" id="events_temp">
    <ul>
      <% _.each(events, function(one_event) { %>
        <li>
          <details>
            <summary>
              <%= one_event.EMname %> (
                <%= window.formatDate(one_event.start_date)%>)
            </summary>
            <br>
            <table style="width: 100%">
              <thead>
                <tr>
                  <th>информация</th>
                  <th>люди</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>
                <ul>
                  <li><strong>Имя: </strong> <%= one_event.EMname %> </li>
                  <li>(<strong>головное мероприятие: </strong> <%= one_event.parent_name %>) </li>
                  <li><strong>Место:</strong> <%= one_event.place %></li>
                  <li><strong><strong>Начало:</strong> <%= window.formatDate(one_event.start_date) %> в <%= one_event.start_time %> </li>
                  <li><strong><strong>Окончание:</strong> <%= window.formatDate(one_event.finish_date) %> в <%= one_event.finish_time %> </li>
                </ul>
                </td>

                <td>
                  <strong>организаторы/редакторы</strong>
                  <ul>
                    <% _.each(one_event.editors, function(person) { %>
                      <li> <%=person.first_name %> <%=person.last_name %>,  <%=window.goodTelephoneView(person.phone) %> </li>
                    <% }); %>
                  </ul>
                  <hr>
                  <strong>записавшиеся люди</strong>
                  <ul>
                    <% _.each(one_event.appliers, function(person) { %>
                      <li> <%=person.first_name %> <%=person.last_name %>,  <%=window.goodTelephoneView(person.phone) %> </li>
                    <% }); %>
                  </ul>

                </td>
                </tr>
              </tbody>
            </table>
          </details>
          <hr>
        </li>
        <% }); %>
    </ul>
  </script>
  <script type="text/javascript" src="underscore.js"></script>
  <script type="text/javascript" src="event.min.js"></script>
</body>

</html>
