<!-- форма записи на смену -->

<div class="col-xs-7 adding-apply-shift common-info" ng-cloak ng-controller="oneShiftAppAdd" id="shift-add-self">
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-hide="myself.vk_id || (shift.today > shift.st_date)">Записаться на смену</button>
  <span class="text-right" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><a href="{{window.location.pathname}}/edit" class="ajax-nav">расстановка</a></span>
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-show="myself.vk_id && window.current_group>=window.groups.COMMAND_STAFF.num">Записать на смену</button>
  <button class="btn" ng-click="show_edit=false" ng-init="show_add=false" ng-show="show_edit">Скрыть редактирование</button>
  <div ng-show="show_add || show_edit" ng-init="show_edit=false">
    <form ng-submit="guessAdd(show_edit)">
      <input type="submit" class="btn btn-primary text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-primary text-right" value="Сохранить изменения" ng-show="show_edit"></input>
      <ul>
        <li ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><b>Кого добавить?</b> (как комсостав, можно добавить другого. Хотите добавиться сами - просто проигнорируйте поле)
          <br/> ссылка ВК:
          <input type="text" ng-model="adding.smbdy" class="vk_input" placeholder="домен VK" /> {{adding.smbdy}}
        </li>
        <li> <i>С какой вероятностью вы поедете на смену?</i> (будет видно всем)
          <br/> {{adding.prob}}
          <input type="range" ng-model="adding.prob" ng-init="adding.prob=100" min="0" max="100" scale="1" style="width: 70%" />
          <br/>
        </li>
        <!--             <li> <i>Социальный статус детей</i> (будет видно всем) <br/>
              Социалка: <input type="checkbox" ng-model="adding.soc" ng-init="adding.soc=true"> &nbsp; <br/> 
              Домашние: <input type="checkbox" ng-model="adding.nonsoc" ng-init="adding.nonsoc=true">
            </li>
            <li> <i>Работа на профильных детях</i> (будет видно всем)<br/>
              Профильники: <input type="checkbox" ng-model="adding.prof" ng-init="adding.prof=true"> &nbsp; <br/> 
              Непрофильники: <input type="checkbox" ng-model="adding.nonprof" ng-init="adding.nonprof=true">
            </li> -->
        <li> <i>Желаемый возраст детей</i> (будет видно всем)
          <br/> От: {{adding.min_age}}
          <input type="range" ng-model="adding.min_age" ng-init="adding.min_age=4" min="4" max={{adding.max_age}} scale="1" style="width: 40%" />
          <br/> До: {{adding.max_age}}
          <input type="range" ng-model="adding.max_age" ng-init="adding.max_age=17" min={{adding.min_age}} max="17" scale="1" style="width: 40%" />
        </li>
        <li>
          <i>С кем бы вы хотели работать?</i> (до 3х человек, будет видно комсоставу и тому, кого вы указали)
          <br/>
          <div class="row own-row">
            <div class="col-xs-5">
              ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like1" size="7" />
              <br/> ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like2" size="7" />
              <br/> ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like3" size="7" />
              <br/>
              <br/>
            </div>
            <div class="col-xs-7">
              <div class="like_h" ng-show="like_h && !adding.smbdy">
                C вами хотели бы работать:
                <table>
                  <tr ng-repeat="user in like_h">
                    <td><img ng-src="{{user.photo}}" />&nbsp; </td>
                    <td>
                      <a href="//vk.com/{{user.domain}}" target="_blank">vk.com/</a>
                      <input type="text" readonly ng-model="user.domain" size="{{(user.domain).length}}">
                      <br> {{user.first_name}} {{user.last_name}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </li>
        <li> <i>С кем бы вы НЕ хотели работать?</i> (до 3х человек, будет видно только комсоставу)
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike1" />
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike2" />
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike3" />
          <br/>
        </li>
        <li> <i>Комментарии</i> (любые. Про шанс поехать, про детей, про напарников. Будет видно только комсоставу)
          <br/>
          <textarea ng-model="adding.comments" class="bbcode" cols=50 rows=5></textarea>
        </li>
      </ul>
      <input type="submit" class="btn btn-primary text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-primary text-right" value="Сохранить изменения" ng-show="show_edit"></input>
    </form>
  </div>
  <!-- </details> -->
</div>
