<div ng-cloak ng-controller="oneShiftAppPeople" id="shift-people">
  <hr>
  <!-- выписываем инфу про себя -->

  <span ng-show="me.user">Вы:</span>
  <table class="table-bordered" ng-show="me.user" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>ФИО</th>
        <th>Вер.
          <br>поехать</th>
        <th>Возраст</th>
        <th>Хочет работать с</th>
        <th>не хочет работать с</th>
        <th>Комментарии</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/about/users/{{me.id}}" target="_blank"> <img ng-src="{{me.photo}}" /></a>
          <br/>
          <a ng-click="editGuess(me, false)" href="">
        ред&nbsp;-&nbsp;вать
      </a>
          <br>
          <a ng-click="deleteGuess()" href="">
        удалить
      </a>
        </td>
        <td>{{me.first_name}}
          <br/> {{me.last_name}} &nbsp;</td>
        <td>{{me.probability}}%</td>
        <td>от {{me.min_age}} до {{me.max_age}}</td>
        <td>
          <table>
            <tr ng-repeat="ls in  me.likes" ng-show="ls">
              <td><a href="/about/users/{{ls.other}}" target="_blank"> <img ng-src="{{ls.photo}}" /></a>&nbsp; </td>
              <td>
                {{ls.first_name}} {{ls.last_name}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr ng-repeat="ls in  me.dislikes" ng-show="ls">
              <td><a href="/about/users/{{ls.other}}" target="_blank"> <img ng-src="{{ls.photo}}" /></a>&nbsp; </td>
              <td>
               {{ls.first_name}} {{ls.last_name}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div class="table-bordered me-comments" ng-bind-html="me.comments" ng-show="me.comments"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <!-- информация про бойцов -->
    <div class="col-lg-6 table-all-sh">
      <span ng-show="fighters.length"> Бойцы:</span>
      <table class="table-bordered" ng-show="fighters.length" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>ФИО</th>
            <th>Вер.
              <br>поехать</th>
            <th>Возраст</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">Хочет работать с</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">не хочет работать с</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">Комментарии</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fighter in fighters">
            <td>
              <a href="//vk.com/{{fighter.domain}}" target="_blank"> <img ng-src="{{fighter.photo}}" /></a>
              <br/>
              <a ng-click="editGuess(fighter, true)" href="" ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
        ред&nbsp;-&nbsp;вать
      </a>
              <br>
              <a ng-click="deleteGuess(fighter.id)" href="" ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
        удалить
      </a>
            </td>
            <td>
                <a href="/about/users/{{fighter.id}}" class="ajax-nav">
            {{fighter.first_name}}
              <br/> {{fighter.last_name}} &nbsp;
                </a>
            </td>
            <td>{{fighter.probability}}%</td>
            <td>от {{fighter.min_age}} до {{fighter.max_age}}</td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  fighter.likes" ng-show="ls">
                <td><a href="/about/users/{{ls.other}}" target="_blank"> <img ng-src="{{ls.photo}}" /></a>&nbsp; </td>
                <td>
                  {{ls.first_name}} {{ls.last_name}}
                </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  fighter.dislikes" ng-show="ls">
                <td><a href="/about/users/{{ls.other}}" target="_blank"> <img ng-src="{{ls.photo}}" /></a>&nbsp; </td>
                <td>
                  {{ls.first_name}} {{ls.last_name}}
                </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <div class="table-bordered {{fighter.id}}-comments" ng-bind-html="fighter.bbcomments" ng-show="fighter.comments"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- информация про кандидатов -->
    <div class="col-lg-6 table-all-sh">
      <span ng-show="candidats.length"> Кандидаты:</span>
      <table class="table-bordered" ng-show="candidats.length" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>ФИО</th>
            <th>Вер.
              <br>поехать</th>
            <!-- <th>Хочет <br> работать<br>на</th> -->
            <th>Возраст</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">Хочет работать с</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">не хочет работать с</th>
            <th ng-show="window.current_group==window.groups.COMMAND_STAFF.num">Комментарии</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="candidate in candidats">
            <td>
              <a href="//vk.com/{{candidate.domain}}" target="_blank"> <img ng-src="{{candidate.photo}}" /></a>
              <br/>
              <a ng-click="editGuess(candidate, true)" href="" ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
        ред&nbsp;-&nbsp;вать
      </a>
              <br>
              <a ng-click="deleteGuess(candidate.id)" href="" ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
        удалить
      </a>
            </td>
            <td>
                <a href="/about/users/{{candidate.id}}" class="ajax-nav">
            {{candidate.first_name}}
              <br/> {{candidate.last_name}} &nbsp;
                </a>
            </td>
            <td>{{candidate.probability}}%</td>
            <td>от {{candidate.min_age}} до {{candidate.max_age}}</td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  candidate.likes" ng-show="ls">
                  <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                  <td>
                    <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                    <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                    <br> {{ls.first_name}} {{ls.last_name}}
                  </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  candidate.dislikes" ng-show="ls">
                  <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                  <td>
                    <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                    <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                    <br> {{ls.first_name}} {{ls.last_name}}
                  </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group==window.groups.COMMAND_STAFF.num">
              <div class="table-bordered {{candidate.id}}-comments" ng-bind-html="candidate.bbcomments" ng-show="candidate.comments"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
