<!-- имя смены -->
<div class="col-xs-12" ng-cloak ng-controller="oneShiftAppName" id="shift-name">
  <span class="scrl"></span>
  <h2>
    <span class="shift-info hidden time-name">{{shift.name}}</span>
    <span class="shift-edit hidden">
      <input ng-model="newshift.name" size="{{(shift.name).length}}">
    </span>,
    {{shift.fn_date.getFullYear()}} 
    <span ng-show="shift.place">({{shift.place}})</span>
    <span ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
      <span class="shift-edit hidden">
        <input type="submit" class="btn btn-success text-right" ng-click="editShiftSubmit()" value="Сохранить" />
        <button type="button" class="btn btn-primary text-right" ng-click="hideEdit()" >Отменить</button>
      </span>
      <span class="shift-info">
        <button type="button" class="btn btn-primary text-right edit-shift shift-info" ng-click="editShiftInfo()" >Редактировать описание смены</button>
      </span>
    </span>
  </h2>
  <hr>
  <span class="saved">  (Изменения сохранены)</span>
</div>
