<!-- форма записи на смену -->
<div class="col-xs-7 adding-apply-shift common-info" ng-cloak ng-controller="oneShiftAppAdd" id="shift-add-self">
  <div ng-show="detachments.length">
    <ul>
      <li ng-repeat="(key, detachment) in detachments">
        <span ng-repeat="(ind, person) in detachment.people">
          <span ng-show="person.uid">
          <a href={{"//vk.com/"+person.domain}} target="_blank"> <img ng-src="{{person.photo_50}}" width="20px" /></a>
          {{person.first_name}} {{person.last_name}}
          </span> <span ng-hide="person.uid"><img src="/own/images/plus.png" width="20px" /> {{person}}</span>
        <br>
        </span>
        <span ng-show="detachment.children_num || canEditDet(key)"><strong>количество детей:</strong> <input type="number" ng-model="detachment.children_num" ng-show="detachment.childrenEdit"> {{detachment.children_num}}  </span>
        <span ng-show="canEditDet(key)">
          <img src="/own/images/edit.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&& !detachment.childrenEdit" ng-click="editChildren(key)"> <img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right"><img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right">
          <img src="/own/images/close.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&&detachment.childrenEdit" ng-click="editChildrenDel(key)"><img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right">
          <img src="/own/images/check.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&&detachment.childrenEdit" ng-click="editChildrenOK(key)">
        </span>
        <br ng-show="canEditDet(key) || detachment.children_num">  
        <span ng-show="detachment.children_dis || canEditDet(key)"><strong>описание отряда:</strong> <input type="text" ng-show="detachment.childrenEdit" ng-model="detachment.children_dis"> {{detachment.children_dis}}</span>
        <div class="table-bordered {{detachment.in_id}}-bbcomment-detach" ng-bind-html="detachment.bbcomments"></div>
      </li>
    </ul>
    <a href="" ng-click="removeRank()" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">убрать расстановку для редактирования</a>
  </div>
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-hide="myself.vk_id || (shift.today > shift.st_date)">Записаться на смену</button>
  <span class="text-right" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><a href="{{window.location.pathname}}/edit" class="ajax-nav">расстановка</a></span>
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-show="myself.vk_id && window.current_group>=window.groups.COMMAND_STAFF.num">Записать на смену</button>
  <button class="btn" ng-click="show_edit=false" ng-init="show_add=false" ng-show="show_edit">Скрыть редактирование</button>
  <div ng-show="show_add || show_edit" ng-init="show_edit=false">
    <form ng-submit="guessAdd(show_edit)">
      <input type="submit" class="btn btn-primary text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-primary text-right" value="Сохранить изменения" ng-show="show_edit"></input>
      <ul>
        <li ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><b>Кого добавить?</b> (как комсостав, можно добавить другого. Хотите добавиться сами - просто проигнорируйте поле)
          <br/> ссылка ВК:
          <input type="text" ng-model="adding.smbdy" class="vk_input" placeholder="домен VK" /> {{adding.smbdy}}
        </li>
        <li> <i>С какой вероятностью вы поедете на смену?</i> (будет видно всем)
          <br>
          <u><strong>Укажите причины, могущие помешать, в комментариях</strong></u>
          <br/> {{adding.prob}}
          <input type="range" ng-model="adding.prob" ng-init="adding.prob=100" min="0" max="100" scale="1" style="width: 70%" />
          <br/>
        </li>
        <!--             <li> <i>Социальный статус детей</i> (будет видно всем) <br/>
              Социалка: <input type="checkbox" ng-model="adding.soc" ng-init="adding.soc=true"> &nbsp; <br/> 
              Домашние: <input type="checkbox" ng-model="adding.nonsoc" ng-init="adding.nonsoc=true">
            </li>
            <li> <i>Работа на профильных детях</i> (будет видно всем)<br/>
              Профильники: <input type="checkbox" ng-model="adding.prof" ng-init="adding.prof=true"> &nbsp; <br/> 
              Непрофильники: <input type="checkbox" ng-model="adding.nonprof" ng-init="adding.nonprof=true">
            </li> -->
        <li> <i>Желаемый возраст детей</i> (будет видно всем)
          <br/> От: {{adding.min_age}}
          <input type="range" ng-model="adding.min_age" ng-init="adding.min_age=4" min="4" max={{adding.max_age}} scale="1" style="width: 40%" />
          <br/> До: {{adding.max_age}}
          <input type="range" ng-model="adding.max_age" ng-init="adding.max_age=17" min={{adding.min_age}} max="17" scale="1" style="width: 40%" />
        </li>
        <li>
          <i>С кем бы вы хотели работать?</i> (до 3х человек, будет видно комсоставу и тому, кого вы указали)
          <br/>
          <div class="row own-row">
            <div class="col-xs-5">
              ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like1" size="7" />
              <br/> ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like2" size="7" />
              <br/> ссылка ВК:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like3" size="7" />
              <br/>
              <br/>
            </div>
            <div class="col-xs-7">
              <div class="like_h" ng-show="like_h && !adding.smbdy">
                C вами хотели бы работать:
                <table>
                  <tr ng-repeat="user in like_h">
                    <td><img ng-src="{{user.photo}}" />&nbsp; </td>
                    <td>
                      <a href="//vk.com/{{user.domain}}" target="_blank">vk.com/</a>
                      <input type="text" readonly ng-model="user.domain" size="{{(user.domain).length}}">
                      <br> {{user.first_name}} {{user.last_name}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </li>
        <li> <i>С кем бы вы НЕ хотели работать?</i> (до 3х человек, будет видно только комсоставу)
          <br>
          <u><strong>Для каждого из этих людей укажите причину в комментариях</strong></u>
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike1" />
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike2" />
          <br/> ссылка ВК:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike3" />
          <br/>
        </li>
        <li> <i>Комментарии</i> (любые. Про шанс поехать, про детей, про напарников. Будет видно только комсоставу)
          <br>
          <u><strong>Не забудьте указать причину для вероятности поехать и для людей, с которыми вы бы не хотели работать.</strong></u>
          <br/>
          <textarea ng-model="adding.comments" class="bbcode" cols=50 rows=5></textarea>
        </li>
      </ul>
      <input type="submit" class="btn btn-primary text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-primary text-right" value="Сохранить изменения" ng-show="show_edit"></input>
    </form>
  </div>
  <!-- </details> -->
</div>
