<div ng-cloak ng-controller="oneShiftAppPeople" id="shift-people">
  <hr>
  <!-- выписываем инфу про себя -->
  <span ng-show="me.vk_id">Вы:</span>
  <table class="table-bordered" ng-show="me.vk_id" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>ФИО</th>
        <th>Вер.
          <br>поехать</th>
        <!-- <th>Хочет <br> работать<br>на</th> -->
        <th>Возраст</th>
        <th>Хочет работать с</th>
        <th>не хочет работать с</th>
        <th>Комментарии</th>
        <th>Последнее
          <br> обновление</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="//vk.com/{{me.domain}}" target="_blank"> <img ng-src="{{me.photo}}" /></a>
          <br/>
          <a ng-click="editGuess(me, false)" href="">
        ред&nbsp;-&nbsp;вать
      </a>
          <br>
          <a ng-click="deleteGuess()" href="">
        удалить
      </a>
        </td>
        <td>{{me.first_name}}
          <br/> {{me.last_name}} &nbsp;</td>
        <td>{{me.probability}}%</td>
        <!--     <td>
      <span ng-show="me.social > 1">социальные</span><br>
      <span ng-show="me.social%2">домашние</span><br>
      <span ng-show="me.profile > 1">профильные</span><br>
      <span ng-show="me.profile%2">непрофильные</span><br>
    </td> -->
        <td>от {{me.min_age}} до {{me.max_age}}</td>
        <td>
          <table>
            <tr ng-repeat="ls in  me.likes" ng-show="ls">
              <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
              <td>
                <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                <br> {{ls.first_name}} {{ls.last_name}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr ng-repeat="ls in  me.dislikes" ng-show="ls">
              <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
              <td>
                <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                <br> {{ls.first_name}} {{ls.last_name}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div class="table-bordered" ng-bind-html="me.bbcomments" ng-show="me.comments"></div>
        </td>
        <td>{{me.cr_time}} </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <!-- информация про бойцов -->
    <div class="col-lg-6">
      <span ng-show="fighters.length"> Бойцы:</span>
      <table class="table-bordered" ng-show="fighters.length" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>ФИО</th>
            <th>Вер.
              <br>поехать</th>
            <!-- <th>Хочет <br> работать<br>на</th> -->
            <th>Возраст</th>
            <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">Хочет работать с</th>
            <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">не хочет работать с</th>
            <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">Комментарии</th>
            <th>Последнее
              <br> обновление</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fighter in fighters">
            <td>
              <a href="//vk.com/{{fighter.domain}}" target="_blank"> <img ng-src="{{fighter.photo}}" /></a>
              <br/>
              <a ng-click="editGuess(fighter, false)" href="" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
        ред&nbsp;-&nbsp;вать
      </a>
              <br>
              <a ng-click="deleteGuess()" href="" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
        удалить
      </a>
            </td>
            <td>
              <span ng-show="window.current_group>=window.groups.FIGHTER.num">
                <a href={{"/about/users/"+person[0].id}} class="ajax-nav">
            {{fighter.first_name}}
              <br/> {{fighter.last_name}} &nbsp;
                </a>
              </span>
              <span ng-hide="window.current_group>=window.groups.FIGHTER.num">
            {{fighter.first_name}}
              <br/> {{fighter.last_name}} &nbsp;
              </span>
            </td>
            <td>{{fighter.probability}}%</td>
            <!--     <td>
      <span ng-show="fighter.social > 1">социальные</span><br>
      <span ng-show="fighter.social%2">домашние</span><br>
      <span ng-show="fighter.profile > 1">профильные</span><br>
      <span ng-show="fighter.profile%2">непрофильные</span><br>
    </td> -->
            <td>от {{fighter.min_age}} до {{fighter.max_age}}</td>
            <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  fighter.likes" ng-show="ls">
                  <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                  <td>
                    <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                    <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                    <br> {{ls.first_name}} {{ls.last_name}}
                  </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
              <table>
                <tr ng-repeat="ls in  fighter.dislikes" ng-show="ls">
                  <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                  <td>
                    <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                    <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                    <br> {{ls.first_name}} {{ls.last_name}}
                  </td>
                </tr>
              </table>
            </td>
            <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
              <div class="table-bordered" ng-bind-html="fighter.bbcomments" ng-show="fighter.comments"></div>
            </td>
            <td>{{fighter.cr_time}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <!-- информация про кандидатов -->
      <div class="col-lg-6">
        <span ng-show="candidats.length"> Кандидаты:</span>
        <table class="table-bordered" ng-show="candidats.length" width="100%">
          <thead>
            <tr>
              <th></th>
              <th>ФИО</th>
              <th>Вер.
                <br>поехать</th>
              <!-- <th>Хочет <br> работать<br>на</th> -->
              <th>Возраст</th>
              <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">Хочет работать с</th>
              <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">не хочет работать с</th>
              <th ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">Комментарии</th>
              <th>Последнее
                <br> обновление</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="candidate in candidats">
              <td>
                <a href="//vk.com/{{candidate.domain}}" target="_blank"> <img ng-src="{{candidate.photo}}" /></a>
                <br/>
                <a ng-click="editGuess(candidate, false)" href="" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
        ред&nbsp;-&nbsp;вать
      </a>
                <br>
                <a ng-click="deleteGuess()" href="" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
        удалить
      </a>
              </td>
              <td>
                <span ng-show="window.current_group>=window.groups.FIGHTER.num">
                <a href={{"/about/candidats/"+person[0].id}} class="ajax-nav">
            {{candidate.first_name}}
              <br/> {{candidate.last_name}} &nbsp;
                </a>
              </span>
                <span ng-hide="window.current_group>=window.groups.FIGHTER.num">
            {{candidate.first_name}}
              <br/> {{candidate.last_name}} &nbsp;
              </span>
              </td>
              <td>{{candidate.probability}}%</td>
              <!--     <td>
      <span ng-show="candidate.social > 1">социальные</span><br>
      <span ng-show="candidate.social%2">домашние</span><br>
      <span ng-show="candidate.profile > 1">профильные</span><br>
      <span ng-show="candidate.profile%2">непрофильные</span><br>
    </td> -->
              <td>от {{candidate.min_age}} до {{candidate.max_age}}</td>
              <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
                <table>
                  <tr ng-repeat="ls in  candidate.likes" ng-show="ls">
                    <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                    <td>
                      <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                      <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                      <br> {{ls.first_name}} {{ls.last_name}}
                    </td>
                  </tr>
                </table>
              </td>
              <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
                <table>
                  <tr ng-repeat="ls in  candidate.dislikes" ng-show="ls">
                    <td><img ng-src="{{ls.photo}}" />&nbsp; </td>
                    <td>
                      <a href="//vk.com/{{ls.domain}}" target="_blank">vk.com/</a>
                      <input type="text" readonly ng-model="ls.domain" size="{{(ls.domain).length}}">
                      <br> {{ls.first_name}} {{ls.last_name}}
                    </td>
                  </tr>
                </table>
              </td>
              <td ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">
                <div class="table-bordered" ng-bind-html="candidate.bbcomments" ng-show="candidate.comments"></div>
              </td>
              <td>{{candidate.cr_time}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button ng-show="window.current_group>=window.groups.COMMAND_STAFF.num" type="button" class="btn btn-danger kill-shift" ng-click="killappsShift()">Удалить все заявки на смену</button>
</div>
