<!-- форма записи на смену -->
<div class="col-xs-7 adding-apply-shift common-info" ng-cloak ng-controller="oneShiftAppAdd" id="shift-add-self">
  <!-- {{detachments | json}} -->
  <div ng-hide="_.isEmpty(detachments)">
    <ul>
      <li ng-repeat="(key, detachment) in detachments">
        <!-- {{key}} {{detachment | json}} -->
        <span ng-repeat="(ind, person) in detachment">
        <!-- {{person | json}} -->
          <span ng-show="person.user">
            <a href="/about/users/{{person.id}}" target="_blank">
              <img ng-src="{{person.photo}}" width="20">
            </a>
            {{person.first_name}} {{person.last_name}}
          </span>
        <span ng-show="person.name">
            <img src="/own/images/plus.png" width="20">
            {{person.name}}
          </span>
        <br>
        </span>
        <span ng-show="detachment[0].children_num || canEditDet(key)"><strong>количество детей:</strong> <input type="number" ng-model="detachment[0].children_num" ng-show="detachment.childrenEdit"> {{detachment[0].children_num}}  </span>
        <span ng-show="canEditDet(key)">
          <img src="/own/images/edit.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&& !detachment.childrenEdit" ng-click="editChildren(key)"> <img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right"><img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right">
          <img src="/own/images/close.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&&detachment.childrenEdit" ng-click="editChildrenDel(key)"><img src="/own/images/white.jpg" width="15px"  style="display: block;" align="right">
          <img src="/own/images/check.png" width="15px" style="display: block;" align="right" ng-show="canEditDet(key)&&detachment.childrenEdit" ng-click="editChildrenOK(key)">
        </span>
        <br ng-show="canEditDet(key) || detachment[0].children_num">
        <span ng-show="detachment[0].children_dis || canEditDet(key)"><strong>описание отряда:</strong> <input type="text" ng-show="detachment.childrenEdit" ng-model="detachment[0].children_dis"> {{detachment[0].children_dis}}</span>
      </li>
    </ul>
    <hr>
    <div ng-show="_.toArray(detachments)[0][0].comments">
       Комментарии к расстановке:
      <div class="rank-comments table-bordered"></div>
      <hr>
    </div>
    <a href="" ng-click="removeRank()" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num">убрать расстановку для редактирования</a>
  </div>
  <span class="text-right" ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><a href="{{window.location.pathname}}/edit" class="ajax-nav">расстановка</a></span>
  <!-- вот форма записи на смену -->
  <span class="scrl-apply"></span>
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-hide="myself.id || (shift.today > shift.st_date)">Записаться на смену</button>
  <button class="btn show_button" ng-click="tableToAdd()" ng-init="show_add=false" ng-show="myself.id && window.current_group>=window.groups.COMMAND_STAFF.num">Записать на смену</button>
  <button class="btn" ng-click="show_edit=false" ng-init="show_add=false" ng-show="show_edit">Скрыть редактирование</button>
  <div ng-show="show_add || show_edit" ng-init="show_edit=false">
    <form ng-submit="guessAdd(show_edit)">
      <input type="submit" class="btn btn-success text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-success text-right" value="Сохранить изменения" ng-show="show_edit"></input>
      <ul>
        <li ng-show="window.current_group>=window.groups.COMMAND_STAFF.num"><b>Кого добавить?</b> (как комсостав, можно добавить другого. Хотите добавиться сами - просто проигнорируйте поле)
          <br/> id человека:
          <input type="text" ng-model="adding.smbdy" class="vk_input" placeholder="домен VK" /> {{adding.smbdy}}
        </li>
        <li> <i>С какой вероятностью вы поедете на смену?</i> (будет видно всем)
          <br>
          <u><strong>Укажите причины, могущие помешать, в комментариях</strong></u>
          <br/> {{adding.probability}}
          <input type="range" ng-model="adding.probability" ng-init="adding.probability=100" min="0" max="100" scale="1" style="width: 70%" />
          <br/>
        </li>
        <li> <i>Желаемый возраст детей</i> (будет видно всем)
          <br/> От: {{adding.min_age}}
          <input type="range" ng-model="adding.min_age" ng-init="adding.min_age=4" min="4" max={{adding.max_age}} scale="1" style="width: 40%" />
          <br/> До: {{adding.max_age}}
          <input type="range" ng-model="adding.max_age" ng-init="adding.max_age=17" min={{adding.min_age}} max="17" scale="1" style="width: 40%" />
        </li>
        <li>
          <i>С кем бы вы хотели работать?</i> (до 3х человек, будет видно комсоставу и тому, кого вы указали)
          <br/>
          <div class="row own-row">
            <div class="col-xs-5">
              id человека:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like1" size="7" />
              <br/> id человека:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like2" size="7" />
              <br/> id человека:
              <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.like3" size="7" />
              <br/>
              <br/>
            </div>
            <div class="col-xs-7">
              <div class="like_h" ng-show="like_h && !adding.smbdy">
                C вами хотели бы работать:
                <table>
                  <tr ng-repeat="user in like_h">
                    <td><img ng-src="{{user.photo}}" />&nbsp; </td>
                    <td>
                      <a href="//vk.com/{{user.domain}}" target="_blank">vk.com/</a>
                      <input type="text" readonly ng-model="user.domain" size="{{(user.domain).length}}">
                      <br> {{user.first_name}} {{user.last_name}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </li>
        <li> <i>С кем бы вы НЕ хотели работать?</i> (до 3х человек, будет видно только комсоставу)
          <br>
          <u><strong>Для каждого из этих людей укажите причину в комментариях</strong></u>
          <br/> id человека:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike1" />
          <br/> id человека:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike2" />
          <br/> id человека:
          <input type="text" placeholder="домен VK" class="vk_input" ng-model="adding.dislike3" />
          <br/>
        </li>
        <li> <i>Комментарии</i> (любые. Про шанс поехать, про детей, про напарников. Будет видно только комсоставу)
          <br>
          <u><strong>Не забудьте указать причину для вероятности поехать и для людей, с которыми вы бы не хотели работать.</strong></u>
          <br/>
          <textarea ng-model="adding.comments" class="bbcode" cols=50 rows=5></textarea>
        </li>
      </ul>
      <input type="submit" class="btn btn-success text-right" value="Записаться" ng-hide="show_edit"></input>
      <input type="submit" class="btn btn-success text-right" value="Сохранить изменения" ng-show="show_edit"></input>
    </form>
  </div>
  <!-- </details> -->
</div>
